*{
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: linear-gradient(120deg, rgba(0, 20, 30, 1) 0%, rgba(0, 50, 40, 1) 15%, rgba(0, 80, 80, 1) 30%, rgba(37, 96, 78, 1) 50%, rgba(75, 116, 100, 1) 70%, rgba(100, 120, 110, 1) 100%);
}


.sticky-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: #f2e5d4;
    margin-bottom: 2rem;
    border-radius: 4rem;
    padding: 0.7rem; 
    position: sticky;
    z-index: 100; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  }
  
  .sticky-header h2 {
    cursor: pointer;
  }
  
  .sticky-header h2:hover {
    text-decoration: underline; 
  }

.active{
    color: brown;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin-bottom: 8rem;
}

.cardapio-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.wrapperGrid{
    display: flex;
    flex-direction: column;
    border: 1px solid #f2e5d4;
    border-radius: 8px;
    background-color: brown;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.wrapper-thumbnail{
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 350px;
    background-color: #f2e5d4;
    
}

h3{
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
}



.thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.thumbnail img{
    width: 500px;
    height: 264px;
    transition: transform 0.3s ease-in-out;
}

.thumbnail:hover img {
    transform: scale(1.1); 
  }

figure{
    height: 100%
}

.img-info{
    min-height: 80px;
    margin-bottom: 1rem;

}

@media screen and (max-width: 768px) {
    .sticky-header {
      flex-wrap: wrap;
      margin: 2rem;
      border-radius: 2rem;
      justify-content: center;
    }
  
    .sticky-header h2 {
      margin-bottom: 0.5rem;
    }
  }